.h-100vh{
    height: 100vh;
}

.sidebar{
    transition: 0.3s;
}
.sidebar:hover{
    /* width: 25%; */
    width: 21%;
}
.transition03s{
    transition:0.3s
}

.OpenSideBar{
    /* width: 75%; */
    /* margin-left: 25%; */
    margin-left: 21%;
    /* margin-left: auto; */
}
.AddTransition{
    transition: all 0.3s;
}
.dashboardWidth{
    width: calc(100% - 6%);
    margin-left: 6%;
}
.rotate180{
    rotate: 180deg;
}
.rotate0{
    rotate: 0deg;
}